.main {
  width: 100%;
  display: flex;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-left: auto;
  margin-right: auto;
}
.inner {
  min-width: 25vw;
  overflow-y: hidden;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  color: #4b5563;
  text-align: center;
}
.heading {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 600;
}
.subHeading {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 400;
  margin: 2.5rem 0;
}
.buttonContainer {
  padding-top: 2rem;
}
.button {
  border: 1px solid #1e3a8a;
  text-align: center;
  background-color: transparent;
  width: 50%;
  height: 3rem;
  border-radius: 0.375rem;
  cursor: pointer;
  background: transparent;
}
.button:hover {
  background-color: #1e3a8a;
  color: white;
  transition: 0.3s ease-in-out;
}
.buttonInner {
  font-weight: 500;
  text-transform: uppercase;
  border: none;
}
